force-app/main/default/flows/Appointment_Confirmation_SMS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send SMS</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSMSAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toPhone</name>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSMSAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_bypass_sms_is_true</name>
        <label>If bypass sms is true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.BypassSMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MobileNumber</name>
        <dataType>String</dataType>
        <expression>&apos;+91&apos;+{!$Record.Account.PersonMobilePhone}</expression>
    </formulas>
    <interviewLabel>Appointment Confirmation SMS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Appointment Confirmation SMS</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ServiceAppointment</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>If_bypass_sms_is_true</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record.Account.FirstName},
Your appointment {!$Record.AppointmentNumber} with {!$Record.Doctor__r.Name} has been confirmed.
To modify/cancel the booking, you can visit - https://sl1nk.com/weecagl
Rest assured we are following all safety protocols.
Thank You!</text>
    </textTemplates>
    <variables>
        <name>SMSError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SMSStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
