force-app/main/default/flows/Fetch_Healthcare_Provider_Specialist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Healthcare_Providers_by_Ids_Action_1</name>
        <label>Get Healthcare Providers by Ids Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>FetchHealthcareProviders</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>ProviderIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>specialtyName</name>
            <value>
                <elementReference>Get_Speciality.Name</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FetchHealthcareProviders</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ListOfProviders</assignToReference>
            <name>providers</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_List</name>
        <label>Assign List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>HealthcareSpecialistProviders</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProviderList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Healthcare_Providers_by_Ids_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Specialist_Healthcare_Providers</name>
        <label>Assign Specialist Healthcare Providers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProviderIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProviderId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_care_provider_facility_speciality</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>ProviderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Healthcare_Providers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Specialist_Healthcare_Providers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Care_Provider_Exists</name>
        <label>Check if Care Provider Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_care_provider_facility_speciality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Care_Provider_Facility</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Healthcare_Providers</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fetch Healthcare Provider Specialist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fetch Healthcare Provider Specialist</label>
    <loops>
        <name>Get_care_provider_facility_speciality</name>
        <label>Get care provider facility speciality</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Healthcare_Practitioner_Facility</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Care_Provider_Facility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Care_Provider_Facility</name>
        <label>Get Care Provider Facility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Care_Provider_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SpecialtyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Speciality.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PractitionerFacilityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_care_provider_facility_speciality.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareProviderFacilitySpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Healthcare_Facility</name>
        <label>Get Healthcare Facility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Healthcare_Practitioner_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LocationId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Location.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcareFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Healthcare_Practitioner_Facility</name>
        <label>Get Healthcare Practitioner Facility</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Speciality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>HealthcareFacilityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Healthcare_Facility.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HealthcarePractitionerFacility</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Healthcare_Providers</name>
        <label>Get Healthcare Providers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Care_Provider_Facility.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HealthcareProvider</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Location</name>
        <label>Get Location</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Healthcare_Facility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VisitorAddressId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AddressId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Speciality</name>
        <label>Get Speciality</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_care_provider_facility_speciality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Speciality</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CareSpecialty</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Location</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AddressId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HealthCareProvider</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
    <variables>
        <name>HealthcareSpecialistProviders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
    <variables>
        <name>ListOfProviders</name>
        <apexClass>ProviderWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>photo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProviderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProviderIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProviderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>HealthcareProvider</objectType>
    </variables>
    <variables>
        <name>Speciality</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
