force-app/main/default/flows/Send_OTP_to_Verified_Customer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_OTP_to_New_Patient</name>
        <label>Send OTP to New Patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSMSAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Patient_Message</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toPhone</name>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSMSAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OtpError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OtpSent</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_OTP_to_Patient</name>
        <label>Send OTP to Patient</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TwilioSMSAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messageBody</name>
            <value>
                <elementReference>MessageBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toPhone</name>
            <value>
                <elementReference>MobileNumber</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TwilioSMSAction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>OtpError</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>OtpSent</assignToReference>
            <name>status</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_OTP</name>
        <label>Assign OTP</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>OTPVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existing_Patient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Message</name>
        <label>Assign Patient Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>PatientVerificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No account found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTPVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Value</name>
        <label>Assign Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientOTP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OTPVar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Existing_Patient</name>
        <label>Existing Patient?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>If_BypassSMS_is_True1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_BypassSMS_is_True</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_BypassSMS_is_True</name>
        <label>If BypassSMS is True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_OTP_to_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.BypassSMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_BypassSMS_is_True1</name>
        <label>If BypassSMS is True</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Send_OTP_to_New_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.BypassSMS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Patient_Message</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MobileNumber</name>
        <dataType>String</dataType>
        <expression>&apos;+91&apos; + 
IF(
    NOT(ISBLANK({!Get_Account.PersonMobilePhone})),
    {!Get_Account.PersonMobilePhone},
    {!AccountMobileNumber}
)</expression>
    </formulas>
    <formulas>
        <name>OTP</name>
        <dataType>String</dataType>
        <expression>RIGHT(&quot;0000&quot; &amp; TEXT(VALUE(MID(TEXT(NOW()), 15, 2) &amp; MID(TEXT(NOW()), 18, 2))), 4)</expression>
    </formulas>
    <formulas>
        <name>otpExpiry</name>
        <dataType>DateTime</dataType>
        <expression>NOW() + (5/1440)</expression>
    </formulas>
    <interviewLabel>Send OTP to Verified Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send OTP to Verified Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_OTP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonMobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountMobileNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OTPExpiry__c</field>
            <value>
                <elementReference>otpExpiry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OTP__c</field>
            <value>
                <elementReference>OTP</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>MessageBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Account.Name},
Your One-Time Password (OTP) for Arogyasetu is {!OTPVar}.
Please do not share this OTP with anyone for security reasons.
Note: This OTP is valid for 5 minutes.
Regards,
Onco Global Team</text>
    </textTemplates>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccountMobileNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OtpError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OtpSent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OTPVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientOTP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PatientVerificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
